*{
    margin: 0;
    padding:0;
}
.html{
    background-image: linear-gradient(90deg, #1F3366,#111028);
}
.body{
    
    overflow: hidden;
    font-size: 25px;
}
.header{
    background-image: linear-gradient(90deg, #1F3366,#111028);
    margin: auto;
    width: 100%;
    position: absolute;
    justify-content:center ;
    min-height: 100vh;
}
.hbd img{
    margin-top: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    animation: Slideup 1000ms ease-in;
}
.button{
    display: flex;
    height: 100%;
    margin-left: 45%;
}
.herobutton{
    font-family: 'Inter', sans-serif;
    font-family: 'Raleway', sans-serif;
    top: 65%;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 20px 30px;
    border-radius: 50px;
    animation: Slideup 0,5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%  ;
    transform: translate(-50%,0);
}
.herobutton:hover{
    color: black;
    background-color: white;
    cursor: pointer;
    transition: 1s;
}
.cover1 img{
    width: 40%;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}
.cover2 img{
    width: 40%;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    left: 0; 
}
.vector5 img{
    position: absolute;
    top: 8%;
    left:15%;
    z-index: 2;
    width: 20%;
    animation: fade-right 500ms ease;
}
.vector4 img{
    position: absolute;
    top: 8%;
    right:15%;
    z-index: 2;
    animation: fade-left 500ms ease;
    width: 20%;
}
.vector3 img{
    position: absolute;
    top: 35%;
    right:10%;
    z-index: 2;
    width: 10%;
    animation: fade-left 1000ms ease;
}
.vector2 img{
    position: absolute;
    top: 35%;
    left:10%;
    z-index: 2;
    width: 10%;
    animation: fade-right 1000ms ease;
}



@keyframes Slideup{
    0%{
        transform:translatey(50px);
        opacity: 0%;
    }
    100%{
        transform: translatey(0px);
        opacity: 100%;
    }
}
@keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }