* {
    margin: 0;
    padding: 0;
  }
.body{
    background: linear-gradient(90deg, #1F3366,#111028);
    margin: 0px;
    padding: 0px;  
    overflow: hidden;
    font-size: 25px;
}
html{
    scroll-behavior: smooth;
}
.music{
    position: fixed;
    left: 0%;
    bottom: 20%;

}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(to bottom , #111028,#1F3366);
    
}
.momtazcom img{
position: static;

}
.fotomoom img{
    position:absolute;
    min-width: 400px;
    max-width: 45%;
    width: 100%;
    height: auto;
    right: 0%;
    bottom: 15%;
    animation: Slideup 1s ease-in;
}
.vector2 img{
    position: absolute;
    max-width: 50%;
    min-height: 20px;
    width: 100%;
    height: auto;
    margin-left: 2%;
    animation: fade-right 1s ease-in;
    min-width: 400px;
    top: 5%;

}
.vector1 img{
    position: absolute;
    width: 200px;
    height: auto;
    left: 500px;
    top: 400px;
    animation: Slideup 1s ease;
}
.vector3 img{
    position: absolute;
    width: 100%;
    height: auto;
    margin-left: 0%;
    top: 0%;
    animation: Slideup 0,3s ease;
}

.text-box p{
    color: white;
    font-family: 'Inter', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    position: absolute;
    margin-left: 4%;
    top: 50%;
    animation: Slideup 0,5s ease;
    min-width: 200PX;
}
.hero-btn{
    font-family: 'Inter', sans-serif;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    margin-left: 4%;
    top: 80%;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 25px;
    animation: Slideup 0,5s ease;
}
.hero-btn:hover{
    color: black;
    border: 1px solid#f44336;
    background:#ffffff;
    transition: 1s;
}

/* Galeria */

.galleria{
  transition-duration: 0,5s;
    background-image:linear-gradient(to bottom ,#1F3366, #111028);
    border: 100px;
    scroll-snap-align: center;
}
.container{
  margin: auto;
}
.galleria p{
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Inter', sans-serif;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 4rem;
    color: #ffffff;
    transition-duration: 400ms;
}
.img-gal{
    width: 80%;
    padding-top: 150px;
    padding-bottom: 200px;
    margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 30px;
    
}
.img-gal img{
    width: 100%;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 25px;
    animation: Slideup 0,5s ease;
}
.img-gal img:hover{
    transform: scale(2) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 7px rgba(68,77,136,0.2);
}

/* Quotes */
.quotes{
    background-image: url(Foto/Galaxy.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    position: static;
}
.titlequote{
    font-family: 'Inter', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    padding-top: 50px;
    text-align: center;
    color: #ffffff;
    
}
.quotemoom{
    font-family: 'Inter', sans-serif;
    font-family: 'Raleway', sans-serif;
    padding-top: 10px;
    color: rgb(255, 255, 255);
    margin: 0px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 35px;
}

/* Message From Friends and Family*/

.message{
    width: 100%;
    position: static;
    text-align: center;
    padding-top: 100px;
    background-image:linear-gradient(to bottom , #111028,#1F3366);  
    font-family: 'Inter', sans-serif;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
   }
h1{
   font-size: 36px;
    font-weight: 600;
    padding-bottom: 15px;
    color: #ffffff;
    transition-duration: 300ms;
}
.pesanrafi{
  transition-duration: 900ms;
   color: rgb(255, 255, 255);
   font-size: 20px;
   font-weight: 300;
   line-height: 40px;
   margin-left: 10%;
   margin-right: 10%;
   
}

.row{
   margin-top: 5%;
   width: 80%;
   padding-bottom: 150px;
   margin-left: 10%;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
   grid-gap: 30px;
    
}
.message-col{
    border-radius: 24px;
   flex-basis: 31%;
   background:rgb(255, 255, 255,0.2);
   margin-bottom: 5%;
   Padding: 20px 12px;
   box-sizing: border-box;
   box-shadow: 0 4px 30px rgba(0,0,0,0.1);
   backdrop-filter: linear blur(5px);
   transition: 1s;
   text-align: justify;
   cursor:pointer;
   animation: Slideup 0,5s ease;
}
h3{
   text-align: center;
   font-weight: 600;
   padding-bottom: 10px;
}
.message-col:hover{
   box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
   transform: scale(1.1);
}

/* Carrousel*/
.rafi{
  
  z-index: -1;
}
.carousell{
  margin-bottom: 5%;
}
.slider {
    max-width: 700px;
    text-align: center;
    overflow: hidden;
    margin: auto;
    width: 80%;
  }
  
  .slides {
    display: flex;
    border-radius: 25px;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
  .slides:hover{
    cursor: pointer;
  }
  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .slides::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    min-height: 500px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slides > div:target {
  /*   transform: scale(0.8); */
  }
  .author-info {
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 0.75rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
  }
  .author-info a {
    color: white;
  }
  .slider img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .slider > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    margin-bottom: 10px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;x
    margin: 0 0 0rem 0;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-family: 'Raleway', sans-serif;
  }
  .slider > a:active {
    top: 1px;
  }
  .slider > a:focus {
    background: #000;
  }
  
/*CLOSING*/
.closings{
  background-image:linear-gradient(to bottom , #1F3366,#111028);
}
.cardiv{
  padding-top: 10%;
  transition-duration: 400ms;
}
.tb1 img{
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  z-index: 2;
  border-top-left-radius: 450px;
  border-top-right-radius: 450px;
  left: 50%;
  transform: translate(-50%,-80%);
  transition-duration: 10000ms;
}
.tb1{
  font-family: 'Raleway', sans-serif;
  border-radius: 25px;
  z-index: 2;
}
.card{
  margin-top: 25%;
  border-radius: 25px;
  background-color: white;
  width: 70%;
  height: 500px;
  display: flex;
  justify-content: center;
  position: static;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10%;
}
.cardiv p{
  transform: translate(0,0) ;
 color: #000;
 position: sticky;
 padding-top: 2%;
}
.cardiv h2{
  transform: translate(0,0) ;
  color: #000;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 25px;
  line-height: 35px;
}
/* Footer*/
.footer{
  background:rgb(44, 43, 43);
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-family: 'Raleway', sans-serif;
  color: rgb(255, 255, 255);
  padding-bottom: 25px;
  padding-top: 20px;
  text-align: center;
  []
}
.footer-content{
    display: flex;
    align-items: [];
    justify-content:center;
}
.buttonrafi{
    color: white;
    font-size: 13px;
}
.buttonkesa{
    color: white;
    font-size: 13px;
}

.reveal {
    position: relative;
    opacity: 0;
  }
  
  .reveal.active {
    opacity: 1;
  }
  .active.fade-bottom {
    animation: fade-bottom 1s ease-in;
  }
  .active.fade-left {
    animation: fade-left 1s ease-in;
  }
  .active.fade-right {
    animation: fade-right 1s ease-in;
  }
  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes Slideup{
    0%{
        transform:translatey(250px);
        opacity: 0%;
    }
    100%{
        transform: translatey(0px);
        opacity: 100%;
    }
}
